# General
# ------------------------------------------------------------------------------
TOKEN = '...'
WEATHER_API_KEY = '...'

#   PostgreSQL
#==========================================
POSTGRES_DB=weather_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
PGDATA=/home/postgresql/data